In [1]:
import tabula
import pandas as pd

In [6]:
df = tabula.read_pdf("./busAdmin.pdf", pages="all")

In [7]:
df

[Empty DataFrame
 Columns: [Unnamed: 0, Questions about this articulation agreement? Please contact: artiCcuOlaNtioTn@AcCsTus I.eNduF.ORMATION, Unnamed: 1]
 Index: [],
    LOWER DIVISION MAJOR PREPARATION COURSES  \
 0                                       NaN
 1                                       NaN
 2                                       NaN
 3                                       NaN
 4                                       NaN
 5                                       NaN
 6                                       NaN
 7                                       NaN
 8                                --- Or ---
 9                                       NaN
 10                                      NaN

                                            Unnamed: 0  Unnamed: 1
 0                                                 NaN         NaN
 1   ACCY 1 - Accounting Fundamentals (3.00L)OWER D...         NaN
 2   ACCY 2 - Managerial Accounting (3.00)←\rACCT 3...         NaN
 3   ECON 1A - Introduction to Macroeconomic Analys...         NaN
 4   ECON 1B - Introduction to Microeconomic Analys...         NaN
 5   MATH 24 - Modern Business Mathematics (3.00)←\...         NaN
 6   MGMT 10 - Introduction to Business Law (3.00)←...         NaN
 7   STAT 1 - Introduction to Statistics (3.00)←\rS...         NaN
 8                                                 NaN         NaN
 9                                                 NaN         NaN
 10                                                NaN         NaN  ,
   STAT 1 - Introduction to Statistics (3.00)←\rSTAT 300 - Introduction to Probability and Statistics (4.00)\r--- Or ---\rSTAT 480 - Introduction to Probability and Statistics - Honors (4.00)  \
 0                                         --- Or ---

    Unnamed: 0
 0         NaN  ,
   COMPUTER LITERACY AND COMPETENCY  \
 0                              NaN
 1                              NaN
 2                              NaN
 3                              NaN
 4                              NaN
 5                              NaN
 6                       --- Or ---
 7                              NaN
 8                              NaN

                                           Unnamed: 0  Unnamed: 1  \
 0                                                NaN         NaN
 1                                                NaN         NaN
 2                                                NaN         NaN
 3                                                NaN         NaN
 4                                                NaN         NaN
 5                                                NaN         NaN
 6                                                NaN         NaN
 7  MIS 10 - Business Applications (2.00)←\rCISA 3...         NaN
 8                                                NaN         NaN

                                           Unnamed: 2  Unnamed: 3  Unnamed: 4  \
 0                                                NaN         NaN         NaN
 1                                                NaN         NaN         NaN
 2  COMPUTER LITERA←CY AND COMPETENCYMIS 1 - Word ...         NaN         NaN
 3  MIS 2 - Spreadsheets (1.00)←\rCISA 315 - Intro...         NaN         NaN
 4  MIS 3 - Presentation Graphics (1.00)←\rCISA 34...         NaN         NaN
 5                                                NaN         NaN         NaN
 6                                                NaN         NaN         NaN
 7                                                NaN         NaN         NaN
 8                                                NaN         NaN         NaN

    Unnamed: 5
 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
 5         NaN
 6         NaN
 7         NaN
 8         NaN  ,
    REQUIRED FOR CONCENTRATION IN MANAGEMENT INFORMATION SYSTEMS  \
 0                                                NaN
 1                                                NaN
 2                                                NaN

                                           Unnamed: 0  Unnamed: 1
 0                                                NaN         NaN
 1  MIS 15 - Introduction tRo EBQusUinIeRssE PDro ...         NaN
 2                                                NaN         NaN  ,
    ELECTIVE COURSE FOR THE CONCENTRATION IN FINANCE (REAL ESTATE TRACK)  \
 0                                                NaN
 1                                                NaN
 2                                                NaN

                                           Unnamed: 0  Unnamed: 1
 0                                                NaN         NaN
 1  FIN 19 - Real Estate PErLinEciCplTesIV (3E.0 C...         NaN
 2                                                NaN         NaN  ,
 Empty DataFrame
 Columns: [Unnamed: 0, END OF AGREEMENT, Unnamed: 1]
 Index: []]

In [18]:
pd.set_option('display.max_columns', None)

In [20]:
df[1].columns

Index(['LOWER DIVISION MAJOR PREPARATION COURSES', 'Unnamed: 0', 'Unnamed: 1'], dtype='object')

In [23]:
df[1].loc[ : , 'Unnamed: 0' ]

0                                                   NaN
1     ACCY 1 - Accounting Fundamentals (3.00L)OWER D...
2     ACCY 2 - Managerial Accounting (3.00)←\rACCT 3...
3     ECON 1A - Introduction to Macroeconomic Analys...
4     ECON 1B - Introduction to Microeconomic Analys...
5     MATH 24 - Modern Business Mathematics (3.00)←\...
6     MGMT 10 - Introduction to Business Law (3.00)←...
7     STAT 1 - Introduction to Statistics (3.00)←\rS...
8                                                   NaN
9                                                   NaN
10                                                  NaN
Name: Unnamed: 0, dtype: object

In [43]:
df[2].head()

,STAT 1 - Introduction to Statistics (3.00)←\rSTAT 300 - Introduction to Probability and Statistics (4.00)\r--- Or ---\rSTAT 480 - Introduction to Probability and Statistics - Honors (4.00),Unnamed: 0
0,--- Or ---,NaN

In [44]:
df[2]

,STAT 1 - Introduction to Statistics (3.00)←\rSTAT 300 - Introduction to Probability and Statistics (4.00)\r--- Or ---\rSTAT 480 - Introduction to Probability and Statistics - Honors (4.00),Unnamed: 0
0,--- Or ---,NaN

In [57]:
lower_div = df[1]

In [58]:
lower_div = lower_div.dropna(how="all", axis=1)

In [61]:
lower_div.dropna(how="all")

,LOWER DIVISION MAJOR PREPARATION COURSES,Unnamed: 0
1,NaN,ACCY 1 - Accounting Fundamentals (3.00L)OWER D...
2,NaN,ACCY 2 - Managerial Accounting (3.00)←\rACCT 3...
3,NaN,ECON 1A - Introduction to Macroeconomic Analys...
4,NaN,ECON 1B - Introduction to Microeconomic Analys...
5,NaN,MATH 24 - Modern Business Mathematics (3.00)←\...
6,NaN,MGMT 10 - Introduction to Business Law (3.00)←...
7,NaN,STAT 1 - Introduction to Statistics (3.00)←\rS...
8,--- Or ---,NaN

In [62]:
list(lower_div.columns)

['LOWER DIVISION MAJOR PREPARATION COURSES', 'Unnamed: 0']

lower_div.rename(columns={'LOWER DIVISION MAJOR PREPARATION COURSES': 'OR', 'Unnamed: 0': 'req'})

In [68]:
type(lower_div)

pandas.core.frame.DataFrame

In [96]:
lower_div.iloc[:, 1:2]

                                           Unnamed: 0
0                                                 NaN
1   ACCY 1 - Accounting Fundamentals (3.00L)OWER D...
2   ACCY 2 - Managerial Accounting (3.00)←\rACCT 3...
3   ECON 1A - Introduction to Macroeconomic Analys...
4   ECON 1B - Introduction to Microeconomic Analys...
5   MATH 24 - Modern Business Mathematics (3.00)←\...
6   MGMT 10 - Introduction to Business Law (3.00)←...
7   STAT 1 - Introduction to Statistics (3.00)←\rS...
8                                                 NaN
9                                                 NaN
10                                                NaN

In [97]:
df2 = pd.DataFrame(lower_div.iloc[:, 1:2], columns = ["Course Transfers"])

In [98]:
df2

    Course Transfers
0                NaN
1                NaN
2                NaN
3                NaN
4                NaN
5                NaN
6                NaN
7                NaN
8                NaN
9                NaN
10               NaN

In [20]:
xtrain = df.loc[df['Survive'].notnull(), ['Age','Fare', 'Group_Size','deck', 'Pclass', 'Title' ]]

['LOWER DIVISION MAJOR PREPARATION COURSES', 'Unnamed: 0', 'Unnamed: 1']

In [ ]:
courses = pd.DataFrame(lower_div.loc[])